
* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.container {
    box-sizing:border-box;
    -webkit-box-sizing:border-box;   
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
.container p {
    font-weight: 700;
    font-size: 18px;
    color: #e5b1f0;
}
.container a{
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    margin: 10px auto;
    border: 0;
    background: #009f41;
    line-height: 40px;
    width: 100px;
    height: 40px;
    color: #f0f0f0;
    font-size: 18px;
}
.container .box {
    margin: 0 auto;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    position: relative;
    border: 1px solid #eee;
    width: 100%;
}

.box .cell {
    box-sizing:border-box;
    -webkit-box-sizing:border-box;   
    position: absolute;
    width:  20%;
    height: 20%;
    border: 1px solid #e7e7e7;
}

.box .number {
    box-sizing: border-box;
    -webkit-box-sizing:border-box;   
    text-align: center;
    font-size: 1em;
    position: absolute;

}
